.icona {
  display: inline-block;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-size: contain;
  background-repeat: no-repeat;
}

.icona.anz {
  background-image: URL("../Iconations/anz.svg");
}

.icona.anz-fill {
  background-image: URL("../Iconations/anz-fill.svg");
}
